<div class="card text-center">
  <div class="card-header">
    <div class="row">
      <div class="col">{{name}}</div>
      <div class="col">
        <img (click)="deleteCard()" class="delete-icon" src="../../assets/delete-icon.png">
      </div>
    </div>
  </div>
  <div class="card-body"> <!--isLoading true/false-->
    <div *ngIf="!isLoading">
      <img [src]="imageSource">
      <div>{{currentTemperature}} °C</div>
    </div>
    <div *ngIf="isLoading">
      Notiek ielāde...
    </div>
  </div>
  <button (click)="openCityDetails()">
    Atvērt
  </button>
</div>
